/data/raw/original_manuscript/
/data/raw/COMETA_medieval_corpus/
/.venv
.env
/results/image_segmentation/
/data/processed/extracted_lines/
/data/processed/filtered_images/
/data/processed/img_layout/
/data/processed/binarized_images/
/data/processed/binarized_images_filtered/
/data/processed/plotted_bounds/
/tests/data_preprocessing/cropped_img/
/data/processed/annotated_samples/
/models/
/data/processed/segmented_images/
/data/processed/
/fonts/
/runs/
/logs/

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# pre-commit
.pre-commit-cache/
