/data/raw/original_manuscript/
/.venv
.env
/results/image_segmentation/
/data/processed/extracted_lines/
/data/processed/img_layout/
/data/processed/plotted_bounds/
/tests/data_preprocessing/cropped_img/
/data/processed/annotated_samples/
/models/

